ui/node_modules
**/*LOG_*
**/targ_*
**/.LastOpenedMOOSLogDirectory
**/__pycache__
**/moos-ivp-mcschwar

**/vcolors.txt
**/vnames.txt
**/vmates.txt
**/vroles.txt
**/vpositions.txt
**/vspeeds.txt
**/vpositions.txt
